<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         version="3.0">

    <!-- LISTADO de astronautas -->
    <servlet>
        <servlet-name>AstronautListServlet</servlet-name>
        <servlet-class>com.missiontracker.servlet.AstronautListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AstronautListServlet</servlet-name>
        <url-pattern>/astronautas</url-pattern>
    </servlet-mapping>

    <!-- DETALLE de astronauta -->
    <servlet>
        <servlet-name>AstronautDetailServlet</servlet-name>
        <servlet-class>com.missiontracker.servlet.AstronautDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AstronautDetailServlet</servlet-name>
        <url-pattern>/detalle</url-pattern>
    </servlet-mapping>

    <!-- REGISTRO de astronauta -->
    <servlet>
        <servlet-name>AstronautRegisterServlet</servlet-name>
        <servlet-class>com.missiontracker.servlet.AstronautRegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AstronautRegisterServlet</servlet-name>
        <url-pattern>/astronautas/registrar</url-pattern>
    </servlet-mapping>

    <!-- Elimianr de astronauta -->
    <servlet>
        <servlet-name>AstronautDeleteServlet</servlet-name>
        <servlet-class>com.missiontracker.servlet.AstronautDeleteServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AstronautDeleteServlet</servlet-name>
        <url-pattern>/astronautas/eliminar</url-pattern>
    </servlet-mapping>

        <servlet>
        <servlet-name>MissionListServlet</servlet-name>
        <servlet-class>com.missiontracker.servlet.MissionListServlet</servlet-class>
    </servlet>

        <!-- update astronauta -->
    <servlet>
        <servlet-name>AstronautUpdateServlet</servlet-name>
        <servlet-class>com.missiontracker.servlet.AstronautUpdateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AstronautUpdateServlet</servlet-name>
        <url-pattern>/astronautas/actualizar</url-pattern>
    </servlet-mapping>
    
    <!-- Lista misiones -->

    <servlet-mapping>
        <servlet-name>MissionListServlet</servlet-name>
        <url-pattern>/misiones</url-pattern>
    </servlet-mapping>